<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>ПРОФИЛ</title>
    <link rel="stylesheet" href="/static/css/Profile.css">
</head>
<body>
<div>
    <div class="content">
        <div class="container">
            <h1>ПРОФИЛ:ИНФОРМАЦИЯ</h1>
               <form name="register" method="post">
                    <div class="form-group">
                        <label for="username">ИМЕ:</label>
                        <input name="username" type="text" value="{{ username }}" minlength="6" maxlength="16" size="6-16" class="form-control" placeholder="Enter username:" required/>
                    </div>
                    <div class="form-group">
                        <label for="number">ТЕЛ.НОМЕР(НЕЗАДЪЛЖИТЕЛНО):</label>
                        <input type="number" name="number" value="{{ number }}" class="form-control" placeholder="Enter number(optional):"/>
                        <label id="error" style="font-size: 18px">{{message2}}</label>
                    </div>
                    <div class="form-group">
                        <label for="email">ИМЕЙЛ:</label>
                        <input name="email" type="email" value="{{ email }}" class="form-control" placeholder="Enter email or email:" required/>
                        <label id="error" style="font-size: 18px">{{message1}}</label>
                    </div>
                    <div class="form-group">
                        <label for="password">ПАРОЛА:</label>
                        <input name="password" type="password" value="{{ password }}" minlength="8" maxlength="8" size="8" class="form-control" placeholder="Enter password:" required/>
                        <label id="error" style="font-size: 18px">{{message3}}</label>
                    </div>
                    <div class="form-group">
                        <label for="repassword">ПОВТОРЕТЕ ПАРОЛАТА:</label>
                        <input name="repassword" type="password" value="{{ repassword }}" minlength="8" maxlength="8" size="8" class="form-control" placeholder="Re-enter password:" required/>
                        <label id="error" style="font-size: 18px">{{message3}}</label>
                    </div>

                    <button type="submit" id="button" style="float: right" onclick="window.location.href='/';">
                        ЗАПАЗИ
                    </button>
                </form>
            <button onclick="window.location.href='http://127.0.0.1:5000/profile';">
                 НАЗАД
            </button>
        </div>
    </div>
</div>


</body>
</html>