
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>ТИТ Тетимов ЕООД</title>
</head>
<body>
    <div class="container">
        <div class="login-page">
            <div className="logo fadeInDown">
                ТИТ-Тетимов
            </div>
            <div className="loginText fadeInDown">Log In</div>
            <div>
                <label htmlFor="usr">Username or number:</label>
                <input name="username" type="text" required/>
            </div>
            <div>
                <label htmlFor="pwd">Password:</label>
                <input name="password" type="password" required/>
            </div>
            <button type="submit" value="Submit">Submit</button>
            <br/>
            <p style="text-align: center; font-size: 20px;">You dont have a profile? <a
                href="/register">Register</a>
            </p>
        </div>
    </div>

{#    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>#}
{#    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>#}
{#    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>#}
{##}
{#    <script type="text/babel" src="/static/js/Login&Register/login.js"></script>#}
{#    <script type="text/babel">ReactDOM.render(<Login/>, document.querySelector('.login-page'))</script>#}
</body>
</html>