<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>"ТИТ-Тетимов" ЕООД ВХОД</title>

    <link rel = "stylesheet" href="/static/css/login.css">
</head>
<body>

    <div class="bg"></div>
    <div class="container">
        <div class="content">
            <div class="login&register" style="text-align: center;">
                <a href="/login" class="loginbutton">ВХОД</a>
                <a href="/register" class="registerbutton">РЕГИСТРАЦИЯ</a>
            </div>
            <div className="loginText fadeInDown" style="text-align: center; margin-bottom: 10%; margin-top: 5%; font-size: 35px">ВХОД</div>
            <form name="login" action="" method="post">
                <div class="form-group">
                    <label for="username">ИМЕЙЛ ИЛИ ТЕЛ.НОМЕР:</label>
                    <input name="username" type="text" value="{{ username }}" class="form-control" placeholder="Enter email or number:" required/>
                </div>

                <div class="form-group">
                    <label for="password">ПАРОЛА:</label>
                    <input name="password" type="password" value="{{ password }}" minlength="8" maxlength="8" size="8" class="form-control" placeholder="Enter password:" required/>
                    <label id="error">{{ message }}</label>
                </div>
                <button type="submit" id="button">ВХОД</button>
                <br>
            </form>
            <a href="/"><i class="fa fa-home" style="float: right; font-size: 40px; color: #222222"></i></a>
        </div>
    </div>
</body>
</html>