<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>"ТИТ-Тетимов" ЕООД</title>

    <link rel = "stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div className="logo fadeInDown">
                ТИТ-Тетимов
            </div>
            <div className="loginText fadeInDown">ВХОД</div>
            <form name="login" action="" method="post">
                <div class="form-group">
                    <label for="username">ИМЕЙЛ ИЛИ ТЕЛ.НОМЕР:</label>
                    <input name="username" type="text" class="form-control" placeholder="Enter email or number:" required/>
                </div>

                <div class="form-group">
                    <label for="password">ПАРОЛА:</label>
                    <input name="password" type="password" minlength="8" maxlength="8" size="8" class="form-control" placeholder="Enter password:" required/>
                    <label id="error">{{ message }}</label>
                </div>
                <button type="submit" id="button" class="btn btn-primary">Sing in</button>
            </form>
            <br>
            <p>НЯМАТЕ ПРОФИЛ? <a
                href="/register">РЕГИСТРАЦИЯ</a>
            </p>
        </div>
    </div>

{#    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>#}
{#    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>#}
{#    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>#}
{##}
{#    <script type="text/babel" src="../static/js/Login&Register/login.js"></script>#}
{#    <script type="text/babel">#}
{#        ReactDOM.render(<Login/>, document.querySelector('.form'))#}
{#    </script>#}
</body>
</html>