<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>"ТИТ-Тетимов" ЕООД РЕГИСТРАЦИЯ</title>

    <link rel = "stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <div class="content">
            <div class="login&register" style="text-align: center;">
                <a href="/login" class="loginbutton">ВХОД</a>
                <a href="/register" class="registerbutton">РЕГИСТРАЦИЯ</a>
            </div>
                <div className="loginText fadeInDown" style="text-align: center; margin-bottom: 5%; margin-top: 5%; font-size: 35px">РЕГИСТРАЦИЯ</div>
                <form name="register" method="post">
                    <div class="form-group">
                        <label for="username">ИМЕ:</label>
                        <input name="username" type="text" minlength="6" maxlength="16" size="6-16" class="form-control" placeholder="Enter username:" required/>
                    </div>
                    <div class="form-group">
                        <label for="number">ТЕЛ.НОМЕР(НЕЗАДЪЛЖИТЕЛНО):</label>
                        <input type="number" name="number" class="form-control" placeholder="Enter number(optional):"/>
                        <label id="error" style="font-size: 18px">{{message2}}</label>
                    </div>
                    <div class="form-group">
                        <label for="email">ИМЕЙЛ:</label>
                        <input name="email" type="email" class="form-control" placeholder="Enter email or email:" required/>
                        <label id="error" style="font-size: 18px">{{message1}}</label>
                    </div>
                    <div class="form-group">
                        <label for="password">ПАРОЛА:</label>
                        <input name="password" type="password" minlength="8" maxlength="8" size="8" class="form-control" placeholder="Enter password:" required/>
                        <label id="error" style="font-size: 18px">{{message3}}</label>
                    </div>
                    <div class="form-group">
                        <label for="repassword">ПОВТОРЕТЕ ПАРОЛАТА:</label>
                        <input name="repassword" type="password" minlength="8" maxlength="8" size="8" class="form-control" placeholder="Re-enter password:" required/>
                        <label id="error" style="font-size: 18px">{{message3}}</label>
                    </div>
                    <button type="submit" id="button">РЕГИСТРИРАНЕ</button>
                </form>
                <a href="/"><i class="fa fa-home" style="float: right; font-size: 40px; color: #222222"></i></a>
        </div>
    </div>
</body>
</html>